*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.app-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.side-bare{
  height: 100vh;
  width: 350px;
  background-color: rgb(16, 29, 29);
}
.container{
  display: flex;
  flex-direction: column;
}
.info{
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 30px;
}
.user-photo{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}
.info .user-name-email input{
  font-weight: 500;
  line-height: 27px;
  border: 0;
  outline: 0;
  color: black;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 1rem;
}
form{
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
form button{ 
  padding: 10px 30px;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: rgb(16, 29, 29);
  color: wheat;
  border-radius: 3px;
}
.inp-box{
  display: flex;
  align-items: center;
  gap: 20px;
}
.inp-box p{
  background-color: lightcoral;
  padding: 10px;
  color: white;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
}